
<h1 class="title-actu">Actualités </h1>
<div class="container-actu">
{% for key , ele in content.data %}
<div class="metier-actu">
    <div class="each-actu">
        {{ ele[0].img |raw }}
        <div class="title-actu">
            <h3 class="title-actuality"> {{ ele[0].title |raw }}</h3>
        </div>
        <div class="div-metier-description">
            <p class="txt-metier-actu"> 
         {{ ele[0].body |raw }}
            </p>
        </div>
    </div>
</div>
{% endfor %}
</div>