<div class="newsletter-metier-content">
    <div class="newsletter-img">
    <img src="/sites/test-culture-viande.dev.makoa.net/modules/custom/phenix_custom_block/assets/img/three_leaves.png" class="metier-img-newsletter"/>
    </div>
    <div class="cust-text-newlsetter">
        <div class="txt-bold-newlsetter">
            <h2 class="sign-newsletter">Inscription aux newsletter</h2>
        </div>
        <div class="desc-newsletter">
        <p class="para-desc-newsletter">Plonger au coeur des métiers de la viande et restez à l'affût des dernières actualités, conseils et expertises avec notre newsletter exculsive
            exclusive de Culture Viande !
        </p>
        </div>
    </div>

    {{ content.form }}
</div>