{# todo à dynamiser dans le back office #}
<p class="intro-metier">Les métiers de la viande sont d’une très grande diversité. Ils participent de l’excellence de la gastronomie française et de son rayonnement à travers le monde.

Découvrez ici les portraits de professionnels passionnés qui contribuent aujourd’hui et demain à toujours mieux nous nourrir. De quoi être fiers de nos métiers.  </p>
{% for id, ele in content.video %}
<div class="metier-each-media-video">
    {{ ele | raw }}
</div>

{% endfor %}