.media-download-all.downloda-all-event-doc {
    width: fit-content !important;
    display: flex !important;
    margin-top: 22px !important;
}
.webform-submission-poser-une-question-form [id*="ajax-wrapper"] ,.webform-submission-poser-une-question-form .form-item-civicrm-1-activity-1-cg30-custom-164,
.webform-submission-poser-une-question-form .form-item-civicrm-2-contact-1-email-email, 
.webform-submission-poser-une-question-form .form-item-civicrm-2-contact-1-contact-job-title,.webform-submission-poser-une-question-form  .form-item-civicrm-2-contact-1-phone-phone,
.webform-submission-poser-une-question-form .js-form-item-civicrm-2-contact-1-contact-first-name, .webform-submission-poser-une-question-form .form-item-civicrm-2-contact-1-contact-last-name{
    display: inline-block;
    width: 19%;
    margin-right: 10px;
}
.webform-submission-poser-une-question-form .form-item-civicrm-1-activity-1-activity-subject {
    margin-left: 3.5% !important;
}
#edit-civicrm-1-activity-1-activity-details-format-help {
    display: none;
}
#edit-civicrm-1-contact-1-fieldset-fieldset .fieldset-legend {
    display:none;
}

.content-sub-menu-burger a.dropdown-item-burger {
    text-wrap: initial
}
.role--permanent .js-form-item-civicrm-1-activity-1-activity-details-value + .js-filter-wrapper.js-form-wrapper.form-wrapper, 
.role--adherent .js-form-item-civicrm-1-activity-1-activity-details-value + .js-filter-wrapper.js-form-wrapper.form-wrapper {
    display: none;
}
.role--permanent [data-drupal-selector="edit-civicrm-1-contact-1-fieldset-fieldset"] legend, 
.role--adherent  [data-drupal-selector="edit-civicrm-1-contact-1-fieldset-fieldset"] legend {
    display: none;
}
.role--permanent [data-drupal-selector="edit-civicrm-1-contact-1-fieldset-fieldset"], 
.role--adherent [data-drupal-selector="edit-civicrm-1-contact-1-fieldset-fieldset"] {
    padding-bottom: 20px;
}

.section-taxonomy .paragraphs-dropdown.open .paragraphs-dropdown-actions{
    background-color: gainsboro;
}

/** Page modification term */
.role--permanent .layout__region.layout__region--content .js-media-library-selection.js-form-wrapper.form-wrapper{
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: wrap;
}
.role--permanent .field--name-field-taxonomy-views-integrator-, .role--permanent [id^="edit-tvi"] {
    display: none;
}
.role--permanent .paragraphs-subform .field--type-text-long.field--name-field-texte-formate,.role--permanent  .field--type-text-long.field--name-field-contenu {
    display: inline-flex;
    width: 47%;
}

.role--permanent .field--name-status {
    display: inline-flex;
}
.role--permanent .field--name-created.field--widget-datetime-timestamp  {
    display: inline-flex;
    flex-direction: column;
}
.role--permanent .layout__region.layout__region--content .js-media-library-selection.js-form-wrapper.form-wrapper .js-media-library-item {
    text-align: center;
}

.role--permanent .layout__region.layout__region--content {
    padding-top: 3%;
}
.role--permanent .layout__region.layout__region--content .field--name-field-social,
.role--permanent .layout__region.layout__region--content .field--name-status,
.role--permanent .layout__region.layout__region--content .field--name-field-gabarit-texte-et-images {
    display: inline-flex;
    width: 5%;
    float: right;
}
.role--permanent .layout__region.layout__region--content .field--name-field-social {
    padding-right: 20%;
}
.role--permanent .layout__region.layout__region--content .field--name-field-image {
    display: inline-block;
    width: 33%;
}

.role--permanent .layout__region.layout__region--content .field--name-name {
    display: inline-flex;
    width: 33%;
    float: left;
    padding-right: 22px;
}


/* breadcrumb */
.page-form-poser-une-question .js-form-item-civicrm-1-activity-1-cg30-custom-166, .page-form-poser-une-question .js-form-item-civicrm-1-activity-1-activity-subject {
    width: 48%;
    margin: 0;
    padding: 0;
    display: inline-block;
}
/********REcherche ***/
tr:has(td > p.row-to-hide) {
    display: none !important;
}
/***********/
.custom-submenu-li .with-link {
    color: black;
}
.custom-submenu-li .no-link-text {
    color: gray;
}
/***MENU***/
.disabled-button-link {
    color: gray;
    text-decoration: none;
    cursor: not-allowed;
    pointer-events: none;
  }
/******/

/*****Page dernier document ******/
.edit-doc-button {
    text-transform: uppercase;
    font-size: .75rem;
    color: #3e7269;
    padding: 0px 15px;
    font-weight: 600;
    border-radius: 20px 0;
    line-height: initial;
}

/**************/

/******Page detail commission ******/
.group-detail-page .layout.layout--twocol-section.layout--twocol-section--50-50 + .layout--onecol {
    display: none !important;
    color: cyan;
    background-color: red;
}

.bloc-head-meetings-in-theme .block-layout-builder {
    display: none;
}

/************/

/**** Page formation ***/

.page-social-rh-formations .img-html-bloc {
    width: 50%;
    margin: 0;
    padding: 0;
    display: inline-flex;
}
.page-social-rh-formations .img-html-bloc img {
    width: 100%;
}
.page-social-rh-formations .img-html-bloc::after {
    content: initial !important;
}
/**** end***/
.taxo-second-niveau {
    padding-top: 25px;
}

/* Page mes commission */
.section-civicrm-group .views-element-container h2:before {
    content: '\e81a';
    position: relative;
    font-family: "custom-icon-cv" !important;
    font-style: normal;
    font-weight: 400 !important;
}
.section-civicrm-group .button-purple {
    display: none;
}
/**********/

/* ajout doc => tag & arborescence */ 
.layout__region--second ul.custom-tag-dropdown > ul {
    display: block !important;
}
.layout__region.layout__region--second .field--name-field-tag, .path-media .field--type-entity-reference.field--name-field-tag.field--widget-options-buttons, .section-media .field--type-entity-reference.field--name-field-tags
, .path-media .field--type-entity-reference.field--name-field-tags.field--widget-options-buttons, .section-media .field--type-entity-reference.field--name-field-tag {
     display: none;
}
.detail-title-resume-first-doc .btn-add-meeting .fa-plus-circle {
    margin-right: 1rem;
    font-size: 20px;
}
.detail-title-resume-first-doc .btn-add-meeting {
    text-transform: uppercase;
    font-size: .75rem;
    color: #3e7269;
    padding: 10px 15px;
    font-weight: 600;
    background-color: #f7f5f3;
    border-radius: 20px 0;
    line-height: initial;
    display: flex;
    justify-content: center;
    align-items: center;

    max-height: 50px;
    min-width: 210px;

}
.detail-title-resume-first-doc {
    gap: 155px;
    display: flex;
}
.custom-placeholder-overlay {
    position: absolute;
    top: 331px;
    left: 38px;
    padding: 5px;
    background-color: white;
    pointer-events: none;
}
/*****/

/*****Tous réunion***/
.all-meet-group-name {
    font-weight: bold;
}
/*****/
/***** Page liste des documents en mode vanessa ******/
.page-admin-content-media.role--permanent .form-item{
    float: left;
    padding: 6px;
    margin: 0.75em 0;
}

.page-admin-content-media.role--permanent [id*="edit-actions--3"], .page-admin-content-media.role--permanent #edit-actions{
    display: flex;
    width: 100%;
}
.role--permanent .block-core.block-b-zf-local-actions > nav.action-links > li {
    list-style: none;
}
.page-admin-content-media.role--permanent .js-form-item.form-item.js-form-type-select.form-item-action.js-form-item-action ,
.page-admin-content-media.role--permanent [id*="edit-actions--3"] > input {
    margin-top: 0;
}
/**********/

/*========================================= Police "new order" from CDN ===========================================================*/
h1,h2, h3, p, span, label, li, button, a,  input, select, textarea,.description{
    font-family: "new-order", sans-serif !important;
    font-style: normal;
}
.txt-img-custom-pdf {
    width: 5%;
}

/* Ne pas l'appliquer pour civicrm */
body.page-civicrm h1, body.page-civicrmh3,  body.page-civicrm p,  body.page-civicrm span,  body.page-civicrm label,  body.page-civicrm li,  body.page-civicrm button,
  body.page-civicrm a,   body.page-civicrm input,  body.page-civicrm select,  body.page-civicrm textarea,  body.page-civicrm td,  body.page-civicrm tr,  body.page-civicrm th,
    body.page-civicrm table,  body.page-civicrm .extrait-resume,  body.page-civicrm h2,
 body.page-civicrm .paragraph.paragraph--type--dossier.paragraph--view-mode--default > div:first-of-type > div:nth-child(2),
 body.page-civicrm .title-last-doc{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-style: normal !important;
}
/*========================================= Fin Police "new order" from CDN ===========================================================*/

/*========================================= Debut ajout document===========================================================*/
.page-media-add-document.section-media.role--authenticated.role--permanent .layout-container,
[class*="page-media-"].section-media.role--authenticated.role--permanent .layout-container,
.page-media-add-document.section-media.role--authenticated.role--permanent-lecture .layout-container,
[class*="page-media-"].section-media.role--authenticated.role--permanent-lecture .layout-container {
    margin: initial;
}
.custom-add-and-edit-form .form-item-field-filieres-0-value,
.custom-add-and-edit-form #edit-field-media-document-0  #edit-field-media-document-0-upload-button{
    display: none;
 }
.field--name-field-social .fieldset-legend, .field--name-field-source .fieldset-legend{
    font-weight: bold !important;
}
#block-adminimal-theme-breadcrumbs .breadcrumb{
    padding: 2rem 0 1rem;
    line-height: 1.5rem;
}
#block-adminimal-theme-breadcrumbs .breadcrumb ol{
    background-color: #fce7e8;
    width: fit-content;
    padding: 2px 15px;
    border-radius: 10px 0;
}
#block-adminimal-theme-breadcrumbs .breadcrumb li:before {
    content: unset;
}
#block-adminimal-theme-breadcrumbs .breadcrumb ol > li > a,
#block-adminimal-theme-breadcrumbs .breadcrumb ol > li > a:hover{
    color: #000;
    font-weight: 400;
    text-decoration: initial;
}
.adminimal .region-highlighted .messages--error{
    background-color: #fce6e7;
    border-radius: 20px 0;
    color: #e46f7f;
    padding: 20px 5rem;
    border: unset;
    background-size: 2rem;
    background-position: 20px 25%;
}
.custom-add-and-edit-form .layout--twocol-section {
    flex-wrap: initial;
    width: 100%;
    gap: 5rem;
}
.custom-add-and-edit-form #edit-field-type-de-document,
.custom-add-and-edit-form #edit-field-media-document-0-upload,
.custom-add-and-edit-form #edit-field-titre-public-0-value,
.custom-add-and-edit-form .form-item-created-0-value-date input,
 .custom-add-and-edit-form .form-item-created-0-value-time input{
    width: 100%;
}
.custom-add-and-edit-form .form-item-created-0-value-date,
.custom-add-and-edit-form .layout--twocol-section .layout__region--first{
    width: 60%;
    flex: initial !important;
}
 .custom-add-and-edit-form #edit-field-type-de-document-wrapper{
    width: 45%;
}
.custom-add-and-edit-form .form-item-created-0-value-time,
.custom-add-and-edit-form .layout--twocol-section .layout__region--second {
    width: 40%;
    flex: initial !important;
}
.custom-add-and-edit-form #edit-field-source-wrapper {
    width: 35%;
}
.custom-add-and-edit-form #edit-field-social-wrapper {
    width: 20%;
}
 .custom-add-and-edit-form .media-form .field--name-status {
    width: 10%;
    margin-top: 2rem;
}
.custom-add-and-edit-form .wrapper-doc-type,
.custom-add-and-edit-form #edit-field-social,
.custom-add-and-edit-form #edit-field-source,
.custom-add-and-edit-form.wrapper-status-and-author{
    display: inline-flex;
    width: 100%;
}
.custom-add-and-edit-form .wrapper-doc-type{
    gap: 20px;
}
.custom-add-and-edit-form #edit-field-social,
.custom-add-and-edit-form #edit-field-source,
.custom-add-and-edit-form.wrapper-status-and-author {
    gap: 13px;
}
#edit-field-source-wrapper .fieldset-legend.js-form-required{
    position: relative;
}
.custom-add-and-edit-form #edit-field-social .form-item-field-social label{
    text-transform: capitalize;
}
.custom-add-and-edit-form select#edit-field-type-de-document {
    background-image: url('/files/arrows-chevron-down-select.png');
    background-size: 5%;
    background-repeat: no-repeat; 
    background-position: right center;
  }
  
.custom-add-and-edit-form select#edit-field-type-de-document:focus {
    background-image: url('/files/arrows-chevron-up-select.png');
  }
#edit-field-source-wrapper .fieldset-legend.js-form-required:before{
    content: 'Source du document';
    position: absolute;
    font-size: 0.75rem;
    left: 68px;
    white-space: nowrap;
    top: 4px;
    background-color: #f7f7f7;
    border-radius: 10px 0;
    padding: 0.3rem 0.7rem;
    line-height: initial;
    color: #0f7cc0;
    font-weight: 400;
}
.custom-add-and-edit-form #edit-author,
.custom-add-and-edit-form #edit-created-0-value,
.custom-add-and-edit-form .wrapper-status-and-author {
    display: flex;
}
.custom-add-and-edit-form .wrapper-status-and-author,
.custom-add-and-edit-form #edit-author {
    flex-direction: row-reverse;
}
.custom-add-and-edit-form .wrapper-status-and-author{
    justify-content: space-between;
    align-items: center;
}
.media-form .wrapper-status-and-author .field--name-status {
    margin-top: 0;
    width: 15%;
}
.media-form .wrapper-status-and-author .field--name-status .form-item-status-value{
    padding: 0;
    margin: 0;
    float: right;
}
.custom-add-and-edit-form #edit-author {    
    justify-content: flex-end;
    width: 85%;
    gap: 20px;
}
.custom-add-and-edit-form #edit-created-0-value {
    width: 100%;
    gap: 10px;
    margin: 0.75em 0;
}
#edit-created-0-value--description,
#edit-uid-0-target-id--description.description{
    color: #725f2f;
    background-color: #fff5dd;
    padding: 5px 15px;
    border-radius: 10px 0;
    width: max-content;
    font-size: 0.7rem;
}
.custom-add-and-edit-form #edit-uid-wrapper #edit-uid-0-target-id {
    margin: 0.75em 0;
}
.custom-add-and-edit-form #edit-created-wrapper{
    width: 40%;
}
.custom-add-and-edit-form #edit-uid-wrapper{
    width: 60%;
}
.custom-add-and-edit-form #edit-created-wrapper h4{
    font-family: "new-order", sans-serif !important;
    font-weight: bold;
    margin: initial;
    font-size: .875rem;
    line-height: 1.8;
}
.custom-add-and-edit-form #edit-uid-wrapper label {
    margin: initial;
    font-weight: bold;    
    font-size: .875rem;
}
#edit-widget [type='checkbox'] + label{
    margin-right: initial;
}
.custom-add-and-edit-form #edit-field-media-document-0-upload,
.custom-add-and-edit-form #edit-field-media-document-wrapper span.file,
.custom-add-and-edit-form #edit-field-media-document-wrapper [name="files[field_media_document_0]"] {
    width: 80%;
    font-size: 0.85rem;
    padding: 5px;
}
.custom-add-and-edit-form input[type="file"],
.custom-add-and-edit-form input[type="text"],
.custom-add-and-edit-form input[type="date"],
.custom-add-and-edit-form input[type="time"],
.custom-add-and-edit-form select#edit-field-type-de-document {
    height: 35px;
    border-radius: 5px;
    background-color: transparent;
    line-height: initial;
    border: 1px solid #b8b8b8;
}
.custom-add-and-edit-form #edit-field-media-document-wrapper span.file{
    border: 1px solid #b8b8b8;
    display: flex;
    align-items: center;
    border-radius: 5px;    
    padding-left: initial;
    background-position: 5px center;
}
.custom-add-and-edit-form #edit-field-media-document-wrapper span.file a{
    padding-left: 30px; 
}
.custom-add-and-edit-form .js-form-managed-file.form-managed-file{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
}
.custom-add-and-edit-form .form-managed-file span:nth-of-type(2){
    display: none;
}
.custom-add-and-edit-form .file--application-pdf {
    background-image: url(/core/themes/seven/images/classy/icons/application-pdf.png);
    background-repeat: no-repeat;
}
.custom-add-and-edit-form .file--image {
    background-image: url(/core/themes/seven/images/classy/icons/image-x-generic.png);
    background-repeat: no-repeat;
}
.custom-add-and-edit-form .file--x-office-document {
    background-image: url(/core/themes/seven/images/classy/icons/x-office-document.png);
    background-repeat: no-repeat;
}
.custom-add-and-edit-form .js-form-managed-file.form-managed-file .messages.messages--error.file-upload-js-error{
    order: 2;
    width: 100%;
}
.custom-add-and-edit-form  #edit-field-media-document-wrapper [name="files[field_media_document_0]"]{
    order: 1;
}
#edit-field-media-document-wrapper .messages.messages--error.file-upload-js-error {
    background-color: #fce6e7;
    border-radius: 10px 0;
    color: #e46f7f;
    padding: 10px 10px 10px 3rem;
    border: unset;
    background-size: 1.3rem;
    font-size: .7rem;
    background-position: 15px 25%;
    margin: 0 0 1rem 0;
}
.form-item-field-media-document-0 .messages.messages--error{
    background-image: url(/core/misc/icons/e32700/error.svg) !important;
    background: no-repeat 10px 17px;
}
.custom-add-and-edit-form #edit-field-media-document-wrapper [name="field_media_document_0_remove_button"] {
    position: relative !important; 
    margin: initial ;
    padding: initial;
    font-weight: 400;
}
.custom-add-and-edit-form #edit-field-media-document-wrapper [name="field_media_document_0_remove_button"],
.custom-add-and-edit-form #edit-field-media-document-wrapper [name="files[field_media_document_0]"]::-webkit-file-upload-button,
.custom-add-and-edit-form #edit-field-media-document-wrapper [name="files[field_media_document_0]"]::file-selector-button{
    background: #e52329;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 19%;
    height: 35px;
  }
.custom-add-and-edit-form #edit-field-media-document-wrapper  [name="files[field_media_document_0]"]::before {
    content: attr(placeholder);
    display: block;
    height: 30%;
}
.custom-add-and-edit-form #edit-field-media-document-0 {
    position: relative;
}
.custom-add-and-edit-form ul.custom-tag-dropdown {
    list-style: none;
}
.custom-add-and-edit-form ul.custom-tag-dropdown .fancytree-expander{
    background-position: 0 -80px;
}
.custom-add-and-edit-form ul.custom-tag-dropdown li span span.fancytree-expander.fancytree-expanded{
    background-position: -32px -80px;
}
.custom-add-and-edit-form ul.custom-tag-dropdown li span span.fancytree-checkbox.checked {
    background-position: 0px -2px !important;
}
.custom-add-and-edit-form ul.custom-tag-dropdown li ul li span span.fancytree-checkbox.checked {
    background-position: -21px -2px !important;
}
.custom-add-and-edit-form ul.custom-tag-dropdown .term-don-t-have-child > .fancytree-expanded > .fancytree-checkbox {
    width: 20px;
    height: 20px;
    background-position: -42px -2px;
    background-image: url('/files/check-image.png');
}
.custom-add-and-edit-form ul.custom-tag-dropdown .term-who-had-child > .fancytree-expanded > .fancytree-checkbox,
.custom-add-and-edit-form ul.custom-tag-dropdown .term-who-had-child > .fancytree-has-children  > .fancytree-checkbox.checked  {
    background-position: -63px -2px !important;
    width: 20px;
    height: 20px;
    background-image: url('/files/check-image.png');
}
.custom-add-and-edit-form ul.custom-tag-dropdown .fancytree-node.fancytree-has-children {
    display: flex;
}
.custom-add-and-edit-form input[type=radio]{
    border: 1px solid #2a2b2c;
}
.custom-add-and-edit-form input[type=radio]:focus,
.custom-add-and-edit-form input[type=checkbox]:hover {
    border-color: #2a2b2c;
  }
.custom-add-and-edit-form input[type=radio]:checked{
    background: #2a2b2c;
  }

.custom-add-and-edit-form input[type=checkbox]{
    border: 2px solid #2a2b2c;
    border-radius: 3px;
    width: 20px !important;
    height: 20px !important;
}
.custom-add-and-edit-form input[type="checkbox"]:checked {
    box-shadow: initial;
    position: relative;
    background: #0074BD;
    border: 2px solid #0074BD;
    -webkit-appearance: auto;
    -moz-appearance: auto;
    -ms-appearance: auto;
  }
.custom-add-and-edit-form #edit-filiere{
    padding-top: 15px;
} 
.custom-add-and-edit-form #edit-filiere input[type="checkbox"]:checked+label.option{
    text-decoration: underline;
  }
.custom-add-and-edit-form #edit-filiere #edit-widget {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}  
.custom-add-and-edit-form .form-required:after {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 0.3em;
    content: "";
    vertical-align: super;
    background-image: url(/core/misc/icons/ee0000/required.svg);
    background-repeat: no-repeat;
    background-size: 6px 6px;
}
.custom-add-and-edit-form #edit-filiere legend span.fieldset-legend,
.custom-add-and-edit-form .form-item-field-media-document-0 label,
.custom-add-and-edit-form .form-item-name-0-value label,
.custom-add-and-edit-form .form-item-field-titre-public-0-value label,
.custom-add-and-edit-form .form-item-field-type-de-document label,
.custom-add-and-edit-form .form-item-field-resume-0-value label,
.custom-add-and-edit-form .form-item-field-groupes label {
    font-weight: bold;
}  
.custom-add-and-edit-form #edit-filiere .form-checkboxes label.option,
.custom-add-and-edit-form #edit-created-wrapper input.form-date,
.custom-add-and-edit-form #edit-created-wrapper input.form-time,
.custom-add-and-edit-form #edit-uid-wrapper [name="uid[0][target_id]"]{
    font-size: 1rem;
}
.layout__region--second .all-tag-dropdown,
.layout__region--second  #edit-field-groupes-wrapper {
    background-color: #f7f7f7;
    padding: 1rem;
    border-radius: 10px;
}
.layout__region--second  #edit-field-groupes-wrapper {
    margin-top: 20px;
}
.layout__region--second .all-tag-dropdown ul{
    margin: initial;
    padding: initial;
}
.layout__region--second .all-tag-dropdown ul ul {
    padding-inline-start: 40px;
}
.layout__region--second ul.custom-tag-dropdown ul{
    display: none;
    list-style: none;
}
.custom-add-and-edit-form.media-document-add-form.media-form #edit-actions,
.custom-add-and-edit-form.media-document-edit-form.media-form #edit-actions {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    gap: 20px;
    padding-bottom: 10px;
    left: 0;
    z-index: 8;
}
.custom-add-and-edit-form.media-document-add-form.media-form #edit-actions.fixed-button,
.custom-add-and-edit-form.media-document-edit-form.media-form #edit-actions.fixed-button {
    position: fixed;
}
.custom-add-and-edit-form .div-parent-save #edit-submit.button--primary {
    width: 20%;
}
.custom-add-and-edit-form .div-parent-save,
.custom-add-and-edit-form .div-parent-delete {
    height: 2.8rem;
    width: 20%;
    border-radius: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-add-meeting.groupes {
    margin-top: 20px;
}
.btn-add-meeting-empty {
    text-transform: uppercase;
    font-size: .75rem;
    color: #3e7269;
    padding: 10px 15px;
    font-weight: 600;
    background-color: #f7f5f3;
    border-radius: 20px 0;
    line-height: initial;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 15%;
}
.btn-add-meeting-empty .fa-plus-circle {
    margin-right: 1rem;
    font-size: 20px;
}
.custom-add-and-edit-form .div-parent-save {
    background-color: #140d3d;
}
.custom-add-and-edit-form .div-parent-delete {
    background-color: #e52329;
}
.custom-add-and-edit-form .div-parent-delete #edit-delete.button--danger{
    width: 20%;
}    
.custom-add-and-edit-form .div-parent-save #edit-submit,
.custom-add-and-edit-form .div-parent-delete #edit-delete{    
    width: 100%;
    height: auto;
    outline: none;
    border: initial;
    font-weight: 400;
    font-size: 0.8rem;
    background: initial;
    border-color: initial;
    text-transform: uppercase;
    text-decoration: initial;
    color: #fff;
    position: absolute;
}
.custom-add-and-edit-form #edit-actions {
    position: fixed !important;
} 
.custom-add-and-edit-form .div-parent-save i,
.custom-add-and-edit-form .div-parent-delete i{
    position: relative;
    font-size: 1.3rem;
    right: 30%;
    top: -1px;
    color: #fff;
}
.custom-add-and-edit-form .layout__region--second #edit_field_groupes_chosen {
    width: 100% !important;
}
.layout__region--second .chosen-container-multi .chosen-choices {
    min-height: 150px;
    border-radius: 5px;
    box-shadow: initial;
    border: 1px solid #e7e0d9;
    background-image: initial;
    background-color: #fff;
    margin: 0;
}
ul.chosen-results,
.layout__region--second .chosen-container-multi .chosen-choices {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-left: 0;
}
ul.chosen-results li {
    font-size: 0.85rem;
}
.layout__region--second .chosen-container-multi .chosen-choices  li.search-field input.chosen-search-input{
    border: none;
    width: 100% !important;
    -webkit-box-shadow: unset;
    box-shadow: unset;
}
.layout__region--second .chosen-container-multi .chosen-choices li.search-choice {
    border: initial;
    background-image: initial;
    line-height: inherit;
    background-color: #e7e0d9;
    padding: 5px 10px 5px 30px;
    margin: 3px 5px 3px 3px;
    display: flex;
    position: relative;
    overflow: hidden;
    font-size: 0.85rem;
    width: fit-content;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    position: absolute;
    width: 12px;
    height: 12px;
    background: url(/files/chosen-sprite.png) -42px 1px no-repeat;
}
.layout__region--second .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top: 10px;
    left: 10px;
    right: initial;
    background-position: -42px -10px;
}
.layout__region--second .form-item-field-groupes .chosen-container .chosen-results li.highlighted {
    background-color:#e7e0d9;
    background-image: initial;
}
.layout__region--second .delete-all{
    color:#e52329;
    text-decoration: underline;
    cursor: pointer;
}
.layout__region--second .delete-all:hover{
    text-decoration: initial;
}
.layout__region--second #edit-field-groupes--description {
    text-align: end;
}
.custom-add-and-edit-form #edit-field-resume-0-format-help-about {
    float: right;
    position: relative;
    margin: 0 20px 0 0;
    color: #0074bd;
    text-decoration: none;
    font-size: 0.875rem;
  }
.custom-add-and-edit-form #edit-field-resume-0-format-help-about::after {
    top: 0;
    right: -20px;
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    content: "";
    background: transparent url(/core/misc/help.png);
}
.custom-add-and-edit-form #edit-field-resume-0-format-help-about:hover{    
    text-decoration: underline;
    outline: 0;
}
.custom-add-and-edit-form #edit-field-resume-0-format {
    background: #F7F7F7;
    margin: 0;
    padding: 0.5em 0.666em;
    border: 1px solid #ccc;
    border-top: 0;
}
.custom-add-and-edit-form .form-item-field-resume-0-format label {
    display: inline;
    padding: 0;
    font-weight: bold;
    margin: 0 0 0.2em;
}
.custom-add-and-edit-form #edit-field-resume-0-format--2 {
    min-height: 28px;
    padding: 1px 1.571em 1px 0.5em;
    cursor: pointer;
    text-shadow: none;
    font-size: 0.875rem;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    margin: initial;
    width: initial;
    height: initial;
} 
/*========================================= Fin ajout document===========================================================*/
/* Large devices (desktops) */
@media (max-width: 1800px) {
    .all-menu-checkboxes .form-checkboxes .form-item {
        width: 25%;
    }
    .custom-add-and-edit-form #edit-filiere #edit-widget {
        flex-wrap: wrap;
        justify-content: initial;
    }
    .custom-add-and-edit-form .wrapper-doc-type {
        flex-wrap: wrap;
        gap: initial;
    }
    .custom-add-and-edit-form #edit-field-type-de-document-wrapper {
        width: 100%;
    }
    .custom-add-and-edit-form #edit-field-social-wrapper,
    .custom-add-and-edit-form #edit-field-source-wrapper {
        width: 50%;
    }
    .custom-add-and-edit-form .wrapper-status-and-author {
        gap: 15px;
    }
}
@media (max-width: 1400px) {
    .all-menu-checkboxes .form-checkboxes .form-item {
        width: 33.333%;
    }
}
/* Large devices (desktops) */
@media (max-width: 1200px) {
    .custom-add-and-edit-form .layout--twocol-section {
        gap: 1rem;
    }
    .all-menu-checkboxes .form-checkboxes .form-item {
        width: 25%;
    }
    .custom-add-and-edit-form .div-parent-save i, .custom-add-and-edit-form .div-parent-delete i {
        right: 20%;
    }
    .custom-add-and-edit-form .js-form-managed-file.form-managed-file {
        flex-wrap: nowrap;
    }
    #edit-field-media-document-wrapper .messages.messages--error.file-upload-js-error {
        position: absolute;
        width: auto;
        top: 36px;
    }
    .layout__region--second .all-tag-dropdown ul ul {
        padding-inline-start: 30px;
    }
}
/* Medium devices (tablets) */
@media (max-width: 992px) { 
    .custom-add-and-edit-form #edit-field-media-document-0-upload,
    .custom-add-and-edit-form #edit-field-media-document-wrapper span.file,
    .custom-add-and-edit-form #edit-field-media-document-wrapper [name="files[field_media_document_0]"] {
        width: 75%;
    }
    .custom-add-and-edit-form #edit-field-media-document-wrapper [name="field_media_document_0_remove_button"],
    .custom-add-and-edit-form #edit-field-media-document-wrapper [name="files[field_media_document_0]"]::-webkit-file-upload-button,
    .custom-add-and-edit-form #edit-field-media-document-wrapper [name="files[field_media_document_0]"]::file-selector-button{
        width: 25%;
    } 
  /*   .custom-add-and-edit-form .wrapper-doc-type {
        flex-wrap: wrap;
        gap: initial;
    } */
/*     .custom-add-and-edit-form #edit-field-type-de-document-wrapper, */
    .custom-add-and-edit-form #edit-uid-wrapper #edit-uid-0-target-id,
    .custom-add-and-edit-form #edit-uid-wrapper,
    .custom-add-and-edit-form #edit-created-wrapper,
    .media-form .wrapper-status-and-author .field--name-status {
        width: 100%;
    }
    .custom-add-and-edit-form #edit-field-source-wrapper{
        width: 60%;
    }
    .custom-add-and-edit-form #edit-field-social-wrapper {
        width: 40%;
    }
    .custom-add-and-edit-form .wrapper-status-and-author {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .custom-add-and-edit-form #edit-author {
        width: 100%;
        gap: initial;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .custom-add-and-edit-form .div-parent-save i,
    .custom-add-and-edit-form .div-parent-delete i {
        right: 15%;
    }
    .layout__region--second .all-tag-dropdown ul ul {
        padding-inline-start: 20px;
    }
}
/* Small devices (landscape phones) */
@media (max-width: 768px) { 
    .custom-add-and-edit-form #edit-field-media-document-0-upload,
    .custom-add-and-edit-form #edit-field-media-document-wrapper span.file,
    .custom-add-and-edit-form #edit-field-media-document-wrapper [name="files[field_media_document_0]"] {
        width: 70%;
    }
    .custom-add-and-edit-form #edit-field-media-document-wrapper [name="field_media_document_0_remove_button"],   
    .custom-add-and-edit-form #edit-field-media-document-wrapper [name="files[field_media_document_0]"]::-webkit-file-upload-button,
    .custom-add-and-edit-form #edit-field-media-document-wrapper [name="files[field_media_document_0]"]::file-selector-button{
        width: 30%;
    } 
    .custom-add-and-edit-form #edit-field-source-wrapper,
    .custom-add-and-edit-form #edit-field-social-wrapper {
        width: 100%;
    }

}
/* Extra small devices (portrait phones) */
@media (max-width: 680px) {    
    .custom-add-and-edit-form #edit-field-media-document-wrapper [name="files[field_media_document_0]"]::-webkit-file-upload-button,
    .custom-add-and-edit-form #edit-field-media-document-wrapper [name="files[field_media_document_0]"]::file-selector-button{
        width: max-content;
    } 
     /*Ajout doc*/
    .custom-add-and-edit-form .layout--twocol-section,
    .custom-add-and-edit-form .wrapper-doc-type,
    .custom-add-and-edit-form #edit-filiere #edit-widget  {
        flex-wrap: wrap;
        gap: initial;
    }
    .custom-add-and-edit-form .form-item-created-0-value-date,
    .custom-add-and-edit-form .layout--twocol-section .layout__region--first,
    .custom-add-and-edit-form .form-item-created-0-value-time,
    .custom-add-and-edit-form .layout--twocol-section .layout__region--second,
    .custom-add-and-edit-form #edit-field-type-de-document-wrapper,
    .media-form .wrapper-status-and-author .field--name-status,
    .custom-add-and-edit-form #edit-author,
    .custom-add-and-edit-form #edit-created-wrapper,
    .custom-add-and-edit-form #edit-uid-wrapper {
        width: 100%;
    }      
    .custom-add-and-edit-form #edit-field-source-wrapper{
        width: 60%;
    }
    .all-menu-checkboxes .form-checkboxes .form-item {
        width: 50%;
    }
    .custom-add-and-edit-form #edit-field-social-wrapper{
        width: 40%;
    }    
    .custom-add-and-edit-form #edit-field-media-document-wrapper span.file {
        border-radius: initial;
        white-space: nowrap;
        overflow: hidden;
    } 
    .custom-add-and-edit-form .js-form-managed-file.form-managed-file {
       flex-wrap: nowrap;
    }
    .custom-add-and-edit-form .wrapper-status-and-author {
        flex-direction: column-reverse;
        gap: 20px;
        padding-bottom: 20px;
    }
    .custom-add-and-edit-form #edit-author {
        flex-direction: column-reverse;
        gap: initial;
    }
    .layout__region--second .all-tag-dropdown ul ul {
        padding-inline-start: 15px;
    }
    .custom-add-and-edit-form .div-parent-save, .custom-add-and-edit-form .div-parent-delete {
        width: 50%;
    }
    .custom-add-and-edit-form .div-parent-save i, .custom-add-and-edit-form .div-parent-delete i {
        right: 15%;
    }
}