<h2 class="title-ask-question-home">Besoin d'aide ?</h2>
<div class="home-ask-question">
    <div class="home-ask-question-overlay">

        <div class="category-ask-question">
            {{ content.option }}
        </div>
        
        <div class="ask-question-some-word">
            <label for="ask-question-some-word">En quelques mots</label>
            <textarea id="textarea-ask-question-some-word" name="message" rows="8" cols="40"></textarea>
        </div>

        <div class="ask-question-button">
            <a href="#" class="btn-ask-question-home"><i class="fas fa-question-circle"></i> Poser une question</a>
        </div>
        
    </div>
</div>