<h2 class="title-commission-home"><i class="icon-custom-commission"></i> Mes commissions</h2>
<div class="my-group row">
  <div class="my-group-image col-md-6">
    <img src="/files/assets/social_formation.jpg" class="my-group-img"/>
  </div>
  <div class="all-group-who-s-mine  col-md-6">
    
     {% for key, elm in content.data %}
      <a href="/civicrm-group/{{elm.group_id }}" class="content-group">  
          <div class="icon-each-group" >   
            <i class="icon-custom-group-person"></i>
          </div> 
          <div class="each-group">
            <h3>{{ elm.title }}</h3>
            <p>Membres : {{ elm.total ~ ' ' ~ elm.total_multiple }} </p>
          </div>          
      </a>
    {% endfor %} 
    {% if not content.data %}
      <div class="not-group-member">
        <p>Vous n'êtes pas membre d'aucun groupe pour l'instant</p>
      </div>
    {% endif %}

    <a href="/tous-mes-groupes" class="btn-each-group">Toutes mes commissions</a>
  </div>
</div>