<div class="views-field views-field-title">
    <span class="field-content">
        <div class="meeting-com even">
            <div class="date-meet">
                <span class="day">{{ content.meeting_info.day }}</span>
                <span class="month-and-year">{{ content.meeting_info.month ~ ' ' ~ content.meeting_info.year }}</span>
            </div>    
            <div class="title-meet">
                <span class="title-meet-commission"><a href="/civicrm-event/991">{{ content.title }}</a></span>
                <span class="hour-begining-meet-commission">Début de la réunion {{ content.meeting_info.hour ~ 'h ' ~ content.meeting_info.minute}}  </span>
            </div>
        </div>
    </span>
</div>
      