<div class="node-search document-content">
    <div class="default-content-node default-content-doc">
        <a href="/taxonomy/term/{{ content.node_id }}" class="result-term-custom">
            <i class="fa fa-bars"></i>
            <h3>{{ content.title }}</h3>
        </a>
        <p class="doc-created-at">  {{ "Publié le " ~ content.published_on |raw}}</p>        
    </div>
    <div class="node-description doc-resume">
        <p class="p-node-description doc-resume">{{ content.resume|raw }}</p>
    </div>
     {# <p class="node-type thumbnail-type">Rubrique</p> #}
</div>